<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE" value="/dashu/log/rawdata.log" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>[%d{dd MMM yyyy HH:mm:ss}] [%t] [%F:%L] [%p] %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>${LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>20</MaxHistory>
		</rollingPolicy>
	</appender>
	<!--<appender name="STASH" class="net.logstash.logback.appender.LogstashSocketAppender">-->
		<!--<host>log-collector.dashu.ds</host>-->
		<!--<port>7001</port>-->
		<!--<encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
			<!--<customFields>{"appname":"rawdata"}</customFields>-->
		<!--</encoder>-->
	<!--</appender>-->
	<appender name="logback_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>[%d{dd MMM yyyy HH:mm:ss}] [%t] [%F:%L] [%p] %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<file>${LOG_FILE}</file>
		<!-- 按小时来回滚 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}-%d{yyyyMMddHH}.log</fileNamePattern>
			<maxHistory>48</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="ASYNC_logback" class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<queueSize>1024</queueSize>
		<appender-ref ref="logback_FILE" />
		<includeCallerData>true</includeCallerData>
	</appender>
	<root level="INFO">
		<appender-ref ref="ASYNC_logback" />
		<appender-ref ref="STASH" />
	</root>

</configuration>