<?xml version="1.0" encoding="UTF-8"?>
<config>
  <properties>
    <encoding><![CDATA[utf-8]]></encoding>
    <proxy scope="request"></proxy>
    <wait-interval><![CDATA[500]]></wait-interval>
  </properties>
  <login login-type="none" plugin-ref="">
    <headers><![CDATA[{"keep-alive": "true"}]]></headers>
    <check-interval><![CDATA[5]]></check-interval>
    <url-template><![CDATA[http://youku.com/?act=login"act=login&q=1&al_frame=1&email=${username}&pass=${password}]]></url-template>
    <success-pattern><![CDATA[${username}]]></success-pattern>
    <fail-pattern><![CDATA[sorry]]></fail-pattern>
    <check-url><![CDATA[http://www.youku.com/]]></check-url>
  </login>
  <plugin-definition>
    <plugin file-type="py" phase="field" id="youku_download_url"></plugin>
  </plugin-definition>
  <extractor>
    <url-patterns>
      <url-pattern domain="youku.com" regex="http://v.youku.com/v_show/id_([[:alnum:]]+)\.html" keyid-index="1" fake="false"></url-pattern>
    </url-patterns>
    <page-extractor path="/v_show">
      <segment type="base">
        <field-extractor field="post_date" encoding="utf-8" format="yyyy-MM-dd" source="" result-type="date" id="post_date">
          <operation from="xxxx" to="yyyyy" type="replace"></operation>
          <operation json-to-xml="false" type="xpath"><![CDATA[//span[@class='pub']]]></operation>
        </field-extractor>
        <field-extractor field="post_date" encoding="utf-8" format="zh" source="" result-type="period" id="post_date2">
          <operation json-to-xml="false" type="xpath"><![CDATA[//span[@class='pub']]]></operation>
        </field-extractor>
        <field-extractor field="poster" encoding="utf-8" format="" source="" result-type="string" id="poster">
          <operation json-to-xml="false" type="xpath"><![CDATA[//div[@class='name']/a[@class='userName']]]></operation>
        </field-extractor>
        <field-extractor field="api_buf" encoding="utf-8" format="" source="" result-type="string" id="api_buf">
          <operation ref="detail_info_parser" type="parser"></operation>
        </field-extractor>
        <field-extractor field="title" encoding="utf-8" format="" source="api_buf" result-type="string" id="title">
          <operation json-to-xml="true" type="xpath"><![CDATA[//item[@key='title']]]></operation>
        </field-extractor>
      </segment>
    </page-extractor>
    <page-extractor path="/v_show">
      <segment type="base">
        <field-extractor field="poster" encoding="utf-8" format="" source="" result-type="string" id="poster">
          <operation json-to-xml="false" type="xpath"><![CDATA[//a[@class='userName']]]></operation>
        </field-extractor>
        <field-extractor field="poster_url" encoding="utf-8" format="" source="" result-type="string" id="poster_url">
          <operation json-to-xml="false" type="xpath"><![CDATA[//a[@class='userName']/@href]]></operation>
        </field-extractor>
        <field-extractor field="poster_id" encoding="utf-8" format="" source="poster_url" result-type="string" id="poster_id">
          <operation index="1" type="regex"><![CDATA[/(?:id_|u/)([[:alnum:]]+)]]></operation>
        </field-extractor>
        <field-extractor field="viewcount" encoding="utf-8" format="" source="" result-type="string" id="viewcount">
          <operation ref="viewcount_parser" type="parser"></operation>
          <operation index="1" type="regex"><![CDATA["vv"\s*:\s*(\d+)]]></operation>
        </field-extractor>
        <field-extractor field="api_buf" encoding="utf-8" format="" source="" result-type="string" id="api_buf">
          <operation ref="detail_info_parser" type="parser"></operation>
        </field-extractor>
        <field-extractor field="title" encoding="utf-8" format="" source="api_buf" result-type="string" id="title">
          <operation json-to-xml="true" type="xpath"><![CDATA[//item[@key='title']]]></operation>
        </field-extractor>
        <field-extractor field="duration" encoding="utf-8" format="" source="api_buf" result-type="number" id="duration">
          <operation json-to-xml="true" type="xpath"><![CDATA[//item[@key='seconds']]]></operation>
        </field-extractor>
        <field-extractor field="download_url" encoding="utf-8" format="" source="" result-type="string" id="download_url">
          <operation type="template"><![CDATA[http://www.youku/download_url/${poster}/${poster_id}/duration.mp4]]></operation>
        </field-extractor>
      </segment>
    </page-extractor>
  </extractor>
  <service-definition></service-definition>
  <site-type-list>
    <site-type><![CDATA[UGC]]></site-type>
  </site-type-list>
  <url-filters>
    <url-filter type="+"><![CDATA[youku|soku.com]]></url-filter>
  </url-filters>
  <server-list>
    <server><![CDATA[Cyberlocker]]></server>
    <server><![CDATA[X_taisan]]></server>
    <server><![CDATA[WASU_taisan]]></server>
  </server-list>
  <parser-definition>
    <parser id="detail_info_parser">
      <headers><![CDATA[{"Cookie": "${keyid}"}]]></headers>
      <patterns></patterns>
      <url-template><![CDATA[http://v.youku.com/player/getPlayList/VideoIDS/${keyid}/version/5/source/video/"k=${keyid}&b=2&c=3]]></url-template>
    </parser>
    <parser id="viewcount_parser">
      <headers><![CDATA[{"Cookie": "${poster_id}"}]]></headers>
      <patterns>
        <pattern>
          <regex><![CDATA[\bvar\s+videoId\s*=\s*'(\d+)']]></regex>
          <mappings>
            <map group-index="1" placeholder="video_id"></map>
          </mappings>
        </pattern>
      </patterns>
      <url-template><![CDATA[http://v.youku.com/QVideo/~ajax/getVideoPlayInfo?id=${video_id}&type=vv"k=${poster_id}&b=2&c=3]]></url-template>
    </parser>
  </parser-definition>
  <page-definition>
    <page path="/search_video/q_" id="page0">
      <regex></regex>
      <replaces></replaces>
    </page>
  </page-definition>
  <search>
    <search-template type="keyword_search" max-depth="0" id="search0">
      <request>
        <max-page><![CDATA[50000]]></max-page>
        <url-templates>
          <url-template><![CDATA[http://www.soku.com/search_video/q_${keyword}]]></url-template>
        </url-templates>
      </request>
      <page-sequence>
        <page ref="page0" depth="0"></page>
      </page-sequence>
    </search-template>
  </search>
  <status-checkers>
    <status-checker path="/v_show/" type="content">
      <offline-pattern>
        <pattern type="text"><![CDATA[此文件不存在]]></pattern>
        <pattern type="text"><![CDATA[抱歉，该视频已删除]]></pattern>
        <pattern type="status"><![CDATA[404]]></pattern>
      </offline-pattern>
      <limited-pattern>
        <pattern><![CDATA[抱歉，该视频暂时无法访问，请稍候重试]]></pattern>
      </limited-pattern>
      <external-pattern>
        <pattern><![CDATA[http://www.youtube.com/\w+/\w+.swf]]></pattern>
      </external-pattern>
      <online-pattern></online-pattern>
    </status-checker>
  </status-checkers>
  <match>
    <threshold></threshold>
    <weight></weight>
  </match>
</config>
