<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datatrees.rawdatacentral.dao.WebsiteDAO">
  <resultMap id="BaseResultMap" type="com.datatrees.rawdatacentral.domain.model2.Website">
    <id column="Id" jdbcType="INTEGER" property="websiteId" />
    <result column="WebsiteType" jdbcType="BIT" property="websiteType" />
    <result column="WebsiteName" jdbcType="VARCHAR" property="websiteName" />
    <result column="WebsiteDomain" jdbcType="VARCHAR" property="websiteDomain" />
    <result column="isenabled" jdbcType="BIT" property="isenabled" />
    <result column="LoginTip" jdbcType="VARCHAR" property="loginTip" />
    <result column="VerifyTip" jdbcType="VARCHAR" property="verifyTip" />
    <result column="InitTimeout" jdbcType="INTEGER" property="initTimeout" />
    <result column="CodeWaitTime" jdbcType="INTEGER" property="codeWaitTime" />
    <result column="LoginTimeout" jdbcType="INTEGER" property="loginTimeout" />
    <result column="ResetType" jdbcType="VARCHAR" property="resetType" />
    <result column="SmsTemplate" jdbcType="VARCHAR" property="smsTemplate" />
    <result column="SmsReceiver" jdbcType="VARCHAR" property="smsReceiver" />
    <result column="ResetURL" jdbcType="VARCHAR" property="resetURL" />
    <result column="ResetTip" jdbcType="VARCHAR" property="resetTip" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="Simulate" jdbcType="BIT" property="simulate" />
    <result column="TemplateId" jdbcType="INTEGER" property="templateId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, WebsiteType, WebsiteName, WebsiteDomain, isenabled, LoginTip, VerifyTip, InitTimeout, 
    CodeWaitTime, LoginTimeout, ResetType, SmsTemplate, SmsReceiver, ResetURL, ResetTip, 
    CreatedAt, UpdatedAt, Simulate, TemplateId
  </sql>
  <select id="selectByExample" parameterType="com.datatrees.rawdatacentral.domain.model2.example.WebsiteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_website
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNum > 0 and pageSize > 0">
        limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_website
    where Id = #{websiteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_website
    where Id = #{websiteId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.datatrees.rawdatacentral.domain.model2.Website">
    <selectKey keyProperty="websiteId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_website
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="websiteType != null">
        WebsiteType,
      </if>
      <if test="websiteName != null">
        WebsiteName,
      </if>
      <if test="websiteDomain != null">
        WebsiteDomain,
      </if>
      <if test="isenabled != null">
        isenabled,
      </if>
      <if test="loginTip != null">
        LoginTip,
      </if>
      <if test="verifyTip != null">
        VerifyTip,
      </if>
      <if test="initTimeout != null">
        InitTimeout,
      </if>
      <if test="codeWaitTime != null">
        CodeWaitTime,
      </if>
      <if test="loginTimeout != null">
        LoginTimeout,
      </if>
      <if test="resetType != null">
        ResetType,
      </if>
      <if test="smsTemplate != null">
        SmsTemplate,
      </if>
      <if test="smsReceiver != null">
        SmsReceiver,
      </if>
      <if test="resetURL != null">
        ResetURL,
      </if>
      <if test="resetTip != null">
        ResetTip,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
      <if test="simulate != null">
        Simulate,
      </if>
      <if test="templateId != null">
        TemplateId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="websiteType != null">
        #{websiteType,jdbcType=BIT},
      </if>
      <if test="websiteName != null">
        #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteDomain != null">
        #{websiteDomain,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        #{isenabled,jdbcType=BIT},
      </if>
      <if test="loginTip != null">
        #{loginTip,jdbcType=VARCHAR},
      </if>
      <if test="verifyTip != null">
        #{verifyTip,jdbcType=VARCHAR},
      </if>
      <if test="initTimeout != null">
        #{initTimeout,jdbcType=INTEGER},
      </if>
      <if test="codeWaitTime != null">
        #{codeWaitTime,jdbcType=INTEGER},
      </if>
      <if test="loginTimeout != null">
        #{loginTimeout,jdbcType=INTEGER},
      </if>
      <if test="resetType != null">
        #{resetType,jdbcType=VARCHAR},
      </if>
      <if test="smsTemplate != null">
        #{smsTemplate,jdbcType=VARCHAR},
      </if>
      <if test="smsReceiver != null">
        #{smsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="resetURL != null">
        #{resetURL,jdbcType=VARCHAR},
      </if>
      <if test="resetTip != null">
        #{resetTip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="simulate != null">
        #{simulate,jdbcType=BIT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datatrees.rawdatacentral.domain.model2.example.WebsiteExample" resultType="java.lang.Long">
    select count(*) from t_website
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.datatrees.rawdatacentral.domain.model2.Website">
    update t_website
    <set>
      <if test="websiteType != null">
        WebsiteType = #{websiteType,jdbcType=BIT},
      </if>
      <if test="websiteName != null">
        WebsiteName = #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteDomain != null">
        WebsiteDomain = #{websiteDomain,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        isenabled = #{isenabled,jdbcType=BIT},
      </if>
      <if test="loginTip != null">
        LoginTip = #{loginTip,jdbcType=VARCHAR},
      </if>
      <if test="verifyTip != null">
        VerifyTip = #{verifyTip,jdbcType=VARCHAR},
      </if>
      <if test="initTimeout != null">
        InitTimeout = #{initTimeout,jdbcType=INTEGER},
      </if>
      <if test="codeWaitTime != null">
        CodeWaitTime = #{codeWaitTime,jdbcType=INTEGER},
      </if>
      <if test="loginTimeout != null">
        LoginTimeout = #{loginTimeout,jdbcType=INTEGER},
      </if>
      <if test="resetType != null">
        ResetType = #{resetType,jdbcType=VARCHAR},
      </if>
      <if test="smsTemplate != null">
        SmsTemplate = #{smsTemplate,jdbcType=VARCHAR},
      </if>
      <if test="smsReceiver != null">
        SmsReceiver = #{smsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="resetURL != null">
        ResetURL = #{resetURL,jdbcType=VARCHAR},
      </if>
      <if test="resetTip != null">
        ResetTip = #{resetTip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="simulate != null">
        Simulate = #{simulate,jdbcType=BIT},
      </if>
      <if test="templateId != null">
        TemplateId = #{templateId,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{websiteId,jdbcType=INTEGER}
  </update>
</mapper>