<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datatrees.spider.bank.dao.BankMailDAO">
  <resultMap id="BaseResultMap" type="com.datatrees.spider.bank.domain.model.BankMail">
    <id column="Id" jdbcType="SMALLINT" property="id" />
    <result column="BankId" jdbcType="INTEGER" property="bankId" />
    <result column="BankEmailAddr" jdbcType="VARCHAR" property="bankEmailAddr" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, BankId, BankEmailAddr, CreatedAt, UpdatedAt
  </sql>
  <select id="selectByExample" parameterType="com.datatrees.spider.bank.domain.model.example.BankMailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_bank_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNum > 0 and pageSize > 0">
        limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bank_email
    where Id = #{id,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bank_email
    where Id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insertSelective" parameterType="com.datatrees.spider.bank.domain.model.BankMail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bank_email
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        BankId,
      </if>
      <if test="bankEmailAddr != null">
        BankEmailAddr,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankEmailAddr != null">
        #{bankEmailAddr,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datatrees.spider.bank.domain.model.example.BankMailExample" resultType="java.lang.Long">
    select count(*) from t_bank_email
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.datatrees.spider.bank.domain.model.BankMail">
    update t_bank_email
    <set>
      <if test="bankId != null">
        BankId = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankEmailAddr != null">
        BankEmailAddr = #{bankEmailAddr,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=SMALLINT}
  </update>
</mapper>