<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datatrees.spider.share.dao.WebsiteInfoDAO">
  <resultMap id="BaseResultMap" type="com.datatrees.spider.share.domain.model.WebsiteInfo">
    <id column="website_id" jdbcType="INTEGER" property="websiteId" />
    <result column="env" jdbcType="VARCHAR" property="env" />
    <result column="website_type" jdbcType="BIT" property="websiteType" />
    <result column="website_name" jdbcType="VARCHAR" property="websiteName" />
    <result column="website_title" jdbcType="VARCHAR" property="websiteTitle" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="proxy_enable" jdbcType="BIT" property="proxyEnable" />
    <result column="search_config" jdbcType="VARCHAR" property="searchConfig" />
    <result column="extractor_config" jdbcType="VARCHAR" property="extractorConfig" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="start_stage" jdbcType="VARCHAR" property="startStage" />
    <result column="login_url" jdbcType="VARCHAR" property="loginUrl" />
    <result column="plugin_class" jdbcType="VARCHAR" property="pluginClass" />
    <result column="login_config" jdbcType="VARCHAR" property="loginConfig" />
    <result column="sms_interval" jdbcType="INTEGER" property="smsInterval" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="login_tip" jdbcType="VARCHAR" property="loginTip" />
    <result column="verify_tip" jdbcType="VARCHAR" property="verifyTip" />
    <result column="reset_type" jdbcType="VARCHAR" property="resetType" />
    <result column="sms_template" jdbcType="VARCHAR" property="smsTemplate" />
    <result column="sms_receiver" jdbcType="VARCHAR" property="smsReceiver" />
    <result column="reset_url" jdbcType="VARCHAR" property="resetUrl" />
    <result column="reset_tip" jdbcType="VARCHAR" property="resetTip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    website_id, env, website_type, website_name, website_title, enable, proxy_enable, 
    search_config, extractor_config, group_code, updated_at, start_stage, login_url, 
    plugin_class, login_config, sms_interval, remark, login_tip, verify_tip, reset_type, 
    sms_template, sms_receiver, reset_url, reset_tip, created_at, attribute
  </sql>
  <select id="selectByExample" parameterType="com.datatrees.spider.share.domain.model.example.WebsiteInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNum > 0 and pageSize > 0">
        limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from website_info
    where website_id = #{websiteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from website_info
    where website_id = #{websiteId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.datatrees.spider.share.domain.model.example.WebsiteInfoExample">
    delete from website_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.datatrees.spider.share.domain.model.WebsiteInfo">
    <selectKey keyProperty="websiteId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into website_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="env != null">
        env,
      </if>
      <if test="websiteType != null">
        website_type,
      </if>
      <if test="websiteName != null">
        website_name,
      </if>
      <if test="websiteTitle != null">
        website_title,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="proxyEnable != null">
        proxy_enable,
      </if>
      <if test="searchConfig != null">
        search_config,
      </if>
      <if test="extractorConfig != null">
        extractor_config,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="startStage != null">
        start_stage,
      </if>
      <if test="loginUrl != null">
        login_url,
      </if>
      <if test="pluginClass != null">
        plugin_class,
      </if>
      <if test="loginConfig != null">
        login_config,
      </if>
      <if test="smsInterval != null">
        sms_interval,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="loginTip != null">
        login_tip,
      </if>
      <if test="verifyTip != null">
        verify_tip,
      </if>
      <if test="resetType != null">
        reset_type,
      </if>
      <if test="smsTemplate != null">
        sms_template,
      </if>
      <if test="smsReceiver != null">
        sms_receiver,
      </if>
      <if test="resetUrl != null">
        reset_url,
      </if>
      <if test="resetTip != null">
        reset_tip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="env != null">
        #{env,jdbcType=VARCHAR},
      </if>
      <if test="websiteType != null">
        #{websiteType,jdbcType=BIT},
      </if>
      <if test="websiteName != null">
        #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteTitle != null">
        #{websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="proxyEnable != null">
        #{proxyEnable,jdbcType=BIT},
      </if>
      <if test="searchConfig != null">
        #{searchConfig,jdbcType=VARCHAR},
      </if>
      <if test="extractorConfig != null">
        #{extractorConfig,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="startStage != null">
        #{startStage,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null">
        #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="pluginClass != null">
        #{pluginClass,jdbcType=VARCHAR},
      </if>
      <if test="loginConfig != null">
        #{loginConfig,jdbcType=VARCHAR},
      </if>
      <if test="smsInterval != null">
        #{smsInterval,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loginTip != null">
        #{loginTip,jdbcType=VARCHAR},
      </if>
      <if test="verifyTip != null">
        #{verifyTip,jdbcType=VARCHAR},
      </if>
      <if test="resetType != null">
        #{resetType,jdbcType=VARCHAR},
      </if>
      <if test="smsTemplate != null">
        #{smsTemplate,jdbcType=VARCHAR},
      </if>
      <if test="smsReceiver != null">
        #{smsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="resetUrl != null">
        #{resetUrl,jdbcType=VARCHAR},
      </if>
      <if test="resetTip != null">
        #{resetTip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datatrees.spider.share.domain.model.example.WebsiteInfoExample" resultType="java.lang.Long">
    select count(*) from website_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update website_info
    <set>
      <if test="record.websiteId != null">
        website_id = #{record.websiteId,jdbcType=INTEGER},
      </if>
      <if test="record.env != null">
        env = #{record.env,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteType != null">
        website_type = #{record.websiteType,jdbcType=BIT},
      </if>
      <if test="record.websiteName != null">
        website_name = #{record.websiteName,jdbcType=VARCHAR},
      </if>
      <if test="record.websiteTitle != null">
        website_title = #{record.websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=BIT},
      </if>
      <if test="record.proxyEnable != null">
        proxy_enable = #{record.proxyEnable,jdbcType=BIT},
      </if>
      <if test="record.searchConfig != null">
        search_config = #{record.searchConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.extractorConfig != null">
        extractor_config = #{record.extractorConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCode != null">
        group_code = #{record.groupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startStage != null">
        start_stage = #{record.startStage,jdbcType=VARCHAR},
      </if>
      <if test="record.loginUrl != null">
        login_url = #{record.loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.pluginClass != null">
        plugin_class = #{record.pluginClass,jdbcType=VARCHAR},
      </if>
      <if test="record.loginConfig != null">
        login_config = #{record.loginConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.smsInterval != null">
        sms_interval = #{record.smsInterval,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTip != null">
        login_tip = #{record.loginTip,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyTip != null">
        verify_tip = #{record.verifyTip,jdbcType=VARCHAR},
      </if>
      <if test="record.resetType != null">
        reset_type = #{record.resetType,jdbcType=VARCHAR},
      </if>
      <if test="record.smsTemplate != null">
        sms_template = #{record.smsTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.smsReceiver != null">
        sms_receiver = #{record.smsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="record.resetUrl != null">
        reset_url = #{record.resetUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.resetTip != null">
        reset_tip = #{record.resetTip,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attribute != null">
        attribute = #{record.attribute,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datatrees.spider.share.domain.model.WebsiteInfo">
    update website_info
    <set>
      <if test="env != null">
        env = #{env,jdbcType=VARCHAR},
      </if>
      <if test="websiteType != null">
        website_type = #{websiteType,jdbcType=BIT},
      </if>
      <if test="websiteName != null">
        website_name = #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="websiteTitle != null">
        website_title = #{websiteTitle,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="proxyEnable != null">
        proxy_enable = #{proxyEnable,jdbcType=BIT},
      </if>
      <if test="searchConfig != null">
        search_config = #{searchConfig,jdbcType=VARCHAR},
      </if>
      <if test="extractorConfig != null">
        extractor_config = #{extractorConfig,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="startStage != null">
        start_stage = #{startStage,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null">
        login_url = #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="pluginClass != null">
        plugin_class = #{pluginClass,jdbcType=VARCHAR},
      </if>
      <if test="loginConfig != null">
        login_config = #{loginConfig,jdbcType=VARCHAR},
      </if>
      <if test="smsInterval != null">
        sms_interval = #{smsInterval,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loginTip != null">
        login_tip = #{loginTip,jdbcType=VARCHAR},
      </if>
      <if test="verifyTip != null">
        verify_tip = #{verifyTip,jdbcType=VARCHAR},
      </if>
      <if test="resetType != null">
        reset_type = #{resetType,jdbcType=VARCHAR},
      </if>
      <if test="smsTemplate != null">
        sms_template = #{smsTemplate,jdbcType=VARCHAR},
      </if>
      <if test="smsReceiver != null">
        sms_receiver = #{smsReceiver,jdbcType=VARCHAR},
      </if>
      <if test="resetUrl != null">
        reset_url = #{resetUrl,jdbcType=VARCHAR},
      </if>
      <if test="resetTip != null">
        reset_tip = #{resetTip,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
    </set>
    where website_id = #{websiteId,jdbcType=INTEGER}
  </update>
  <insert id="batchInsertSelective" parameterType="java.util.List">
    insert into website_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].websiteId!=null">
        website_id,
      </if>
      <if test="list[0].env!=null">
        env,
      </if>
      <if test="list[0].websiteType!=null">
        website_type,
      </if>
      <if test="list[0].websiteName!=null">
        website_name,
      </if>
      <if test="list[0].websiteTitle!=null">
        website_title,
      </if>
      <if test="list[0].enable!=null">
        enable,
      </if>
      <if test="list[0].proxyEnable!=null">
        proxy_enable,
      </if>
      <if test="list[0].searchConfig!=null">
        search_config,
      </if>
      <if test="list[0].extractorConfig!=null">
        extractor_config,
      </if>
      <if test="list[0].groupCode!=null">
        group_code,
      </if>
      <if test="list[0].updatedAt!=null">
        updated_at,
      </if>
      <if test="list[0].startStage!=null">
        start_stage,
      </if>
      <if test="list[0].loginUrl!=null">
        login_url,
      </if>
      <if test="list[0].pluginClass!=null">
        plugin_class,
      </if>
      <if test="list[0].loginConfig!=null">
        login_config,
      </if>
      <if test="list[0].smsInterval!=null">
        sms_interval,
      </if>
      <if test="list[0].remark!=null">
        remark,
      </if>
      <if test="list[0].loginTip!=null">
        login_tip,
      </if>
      <if test="list[0].verifyTip!=null">
        verify_tip,
      </if>
      <if test="list[0].resetType!=null">
        reset_type,
      </if>
      <if test="list[0].smsTemplate!=null">
        sms_template,
      </if>
      <if test="list[0].smsReceiver!=null">
        sms_receiver,
      </if>
      <if test="list[0].resetUrl!=null">
        reset_url,
      </if>
      <if test="list[0].resetTip!=null">
        reset_tip,
      </if>
      <if test="list[0].createdAt!=null">
        created_at,
      </if>
      <if test="list[0].attribute!=null">
        attribute,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.websiteId!=null">
          #{item.websiteId,jdbcType=INTEGER},
        </if>
        <if test="item.env!=null">
          #{item.env,jdbcType=VARCHAR},
        </if>
        <if test="item.websiteType!=null">
          #{item.websiteType,jdbcType=BIT},
        </if>
        <if test="item.websiteName!=null">
          #{item.websiteName,jdbcType=VARCHAR},
        </if>
        <if test="item.websiteTitle!=null">
          #{item.websiteTitle,jdbcType=VARCHAR},
        </if>
        <if test="item.enable!=null">
          #{item.enable,jdbcType=BIT},
        </if>
        <if test="item.proxyEnable!=null">
          #{item.proxyEnable,jdbcType=BIT},
        </if>
        <if test="item.searchConfig!=null">
          #{item.searchConfig,jdbcType=VARCHAR},
        </if>
        <if test="item.extractorConfig!=null">
          #{item.extractorConfig,jdbcType=VARCHAR},
        </if>
        <if test="item.groupCode!=null">
          #{item.groupCode,jdbcType=VARCHAR},
        </if>
        <if test="item.updatedAt!=null">
          #{item.updatedAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.startStage!=null">
          #{item.startStage,jdbcType=VARCHAR},
        </if>
        <if test="item.loginUrl!=null">
          #{item.loginUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.pluginClass!=null">
          #{item.pluginClass,jdbcType=VARCHAR},
        </if>
        <if test="item.loginConfig!=null">
          #{item.loginConfig,jdbcType=VARCHAR},
        </if>
        <if test="item.smsInterval!=null">
          #{item.smsInterval,jdbcType=INTEGER},
        </if>
        <if test="item.remark!=null">
          #{item.remark,jdbcType=VARCHAR},
        </if>
        <if test="item.loginTip!=null">
          #{item.loginTip,jdbcType=VARCHAR},
        </if>
        <if test="item.verifyTip!=null">
          #{item.verifyTip,jdbcType=VARCHAR},
        </if>
        <if test="item.resetType!=null">
          #{item.resetType,jdbcType=VARCHAR},
        </if>
        <if test="item.smsTemplate!=null">
          #{item.smsTemplate,jdbcType=VARCHAR},
        </if>
        <if test="item.smsReceiver!=null">
          #{item.smsReceiver,jdbcType=VARCHAR},
        </if>
        <if test="item.resetUrl!=null">
          #{item.resetUrl,jdbcType=VARCHAR},
        </if>
        <if test="item.resetTip!=null">
          #{item.resetTip,jdbcType=VARCHAR},
        </if>
        <if test="item.createdAt!=null">
          #{item.createdAt,jdbcType=TIMESTAMP},
        </if>
        <if test="item.attribute!=null">
          #{item.attribute,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>