<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datatrees.spider.bank.dao.BankDAO">
  <resultMap id="BaseResultMap" type="com.datatrees.spider.bank.domain.model.Bank">
    <id column="Id" jdbcType="SMALLINT" property="bankId" />
    <result column="WebsiteId" jdbcType="INTEGER" property="websiteId" />
    <result column="WebsiteName" jdbcType="VARCHAR" property="websiteName" />
    <result column="BankMark" jdbcType="VARCHAR" property="bankMark" />
    <result column="BankName" jdbcType="VARCHAR" property="bankName" />
    <result column="OrderIndex" jdbcType="SMALLINT" property="orderIndex" />
    <result column="MatchText" jdbcType="VARCHAR" property="matchText" />
    <result column="isenabled" jdbcType="BIT" property="isenabled" />
    <result column="CreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, WebsiteId,WebsiteName, BankMark, BankName, OrderIndex, MatchText, isenabled, CreatedAt, UpdatedAt
  </sql>
  <select id="selectByExample" parameterType="com.datatrees.spider.bank.domain.model.example.BankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_bank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="pageNum > 0 and pageSize > 0">
        limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bank
    where Id = #{bankId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_bank
    where Id = #{bankId,jdbcType=SMALLINT}
  </delete>
  <insert id="insertSelective" parameterType="com.datatrees.spider.bank.domain.model.Bank">
    <selectKey keyProperty="bankId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="websiteId != null">
        WebsiteId,
      </if>
      <if test="websiteName != null">
        WebsiteName,
      </if>
      <if test="bankMark != null">
        BankMark,
      </if>
      <if test="bankName != null">
        BankName,
      </if>
      <if test="orderIndex != null">
        OrderIndex,
      </if>
      <if test="matchText != null">
        MatchText,
      </if>
      <if test="isenabled != null">
        isenabled,
      </if>
      <if test="createdAt != null">
        CreatedAt,
      </if>
      <if test="updatedAt != null">
        UpdatedAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="websiteId != null">
        #{websiteId,jdbcType=INTEGER},
      </if>
      <if test="websiteName != null">
        #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="bankMark != null">
        #{bankMark,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=SMALLINT},
      </if>
      <if test="matchText != null">
        #{matchText,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        #{isenabled,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datatrees.spider.bank.domain.model.example.BankExample" resultType="java.lang.Long">
    select count(*) from t_bank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.datatrees.spider.bank.domain.model.Bank">
    update t_bank
    <set>
      <if test="websiteId != null">
        WebsiteId = #{websiteId,jdbcType=INTEGER},
      </if>
      <if test="websiteName != null">
        WebsiteName = #{websiteName,jdbcType=VARCHAR},
      </if>
      <if test="bankMark != null">
        BankMark = #{bankMark,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        BankName = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="orderIndex != null">
        OrderIndex = #{orderIndex,jdbcType=SMALLINT},
      </if>
      <if test="matchText != null">
        MatchText = #{matchText,jdbcType=VARCHAR},
      </if>
      <if test="isenabled != null">
        isenabled = #{isenabled,jdbcType=BIT},
      </if>
      <if test="createdAt != null">
        CreatedAt = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UpdatedAt = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{bankId,jdbcType=SMALLINT}
  </update>
</mapper>